# Writing a lambda function
This Notebook accompanies the 'Writing a lambda function' demonstration video. In the video you will be introduced to the basics of writing lambda functions in Python.

outcomes: 

how to write a simple lambda function
how to employ the lambda function as part of a user-defined function
how to employ multiple arguments within a lambda function.

# Prepare the workstation

In [1]:
# Import the libraries.
import pandas as pd
import numpy as np

# Import the CSV file.
products = pd.read_csv('products.csv')

# View the DataFrame.
products

         StockCode                        Description
0            10002         INFLATABLE POLITICAL GLOBE
1            10080           GROOVY CACTUS INFLATABLE
2            10120                       DOGGY RUBBER
3           10123C               HEARTS WRAPPING TAPE
4           10124A        SPOTS ON RED BOOKCOVER TAPE
...            ...                                ...
3940  gift_0001_20  Dotcomgiftshop Gift Voucher £20.0
3941  gift_0001_30  Dotcomgiftshop Gift Voucher £30.0
3942  gift_0001_40  Dotcomgiftshop Gift Voucher £40.0
3943  gift_0001_50  Dotcomgiftshop Gift Voucher £50.0
3944             m                             Manual

[3945 rows x 2 columns]

# recall the previously used user-defined function

In [2]:
# Use the keyword def.
# function_name = contains_glass
# argument = x

# User-defined function to determine the word glass in product descriptions.
def contains_glass(x):
    # docstring
    """does the product contain glass?"""
    y = x.lower()
    # execute the function
    return "glass" in y

# Apply the function.
fc = products['Description'].apply(contains_glass)

# Filter product for glass.
products[fc]

     StockCode                    Description
106     17129F         BLUE GLASS GEMS IN BAG
220      20798          CLEAR MILKSHAKE GLASS
221      20801   LARGE PINK GLASS SUNDAE DISH
222      20802  SMALL GLASS SUNDAE DISH CLEAR
223      20803   SMALL PINK GLASS SUNDAE DISH
...        ...                            ...
3866    90199D  5 STRAND GLASS NECKLACE AMBER
3886    90209A  PURPLE ENAMEL+GLASS HAIR COMB
3887    90209B   GREEN ENAMEL+GLASS HAIR COMB
3888    90209C    PINK ENAMEL+GLASS HAIR COMB
3927  DCGS0003            BOXED GLASS ASHTRAY

[171 rows x 2 columns]

# lambda functions

In [3]:
# Lambda function
# lambda argument : expression

In [6]:
# Write a lambda function to get the same result as with the user-defined function.
products [
    products['Description'].apply(lambda x:
                                     'glass' in x.lower())]

     StockCode                    Description
106     17129F         BLUE GLASS GEMS IN BAG
220      20798          CLEAR MILKSHAKE GLASS
221      20801   LARGE PINK GLASS SUNDAE DISH
222      20802  SMALL GLASS SUNDAE DISH CLEAR
223      20803   SMALL PINK GLASS SUNDAE DISH
...        ...                            ...
3866    90199D  5 STRAND GLASS NECKLACE AMBER
3886    90209A  PURPLE ENAMEL+GLASS HAIR COMB
3887    90209B   GREEN ENAMEL+GLASS HAIR COMB
3888    90209C    PINK ENAMEL+GLASS HAIR COMB
3927  DCGS0003            BOXED GLASS ASHTRAY

[171 rows x 2 columns]

In [5]:
# Investigate with only a Series.
products['Description'].apply(lambda x: 'glass' in x.lower())

0       False
1       False
2       False
3       False
4       False
        ...
3940    False
3941    False
3942    False
3943    False
3944    False
Name: Description, Length: 3945, dtype: bool

# Challenge

Anonymous or lambda functions are functions with no name and are used to create Pythonic code when you need to define and use very simple functions, the body of which can be expressed in a single line. They are represented using the lambda keyword.

In the video, you combined the lambda and apply() functions. Are you up for a challenge?

In the video, Mr Zachariou asked Arjun to provide him with a list of all the products containing the word 'glass'. Can you write a code snippet to return all the products that contain the word 'tin' in their description? See if you get the same output as Arjun.

In [8]:
# View the DataFrame.
products.shape

(3945, 2)

In [9]:
# Write a lambda function to determine the word tin in description column.
products[products['Description'].apply(lambda x: 'tin' in x.lower())]

     StockCode                          Description
99      17090A     LAVENDER INCENSE 40 CONES IN TIN
100     17090D      VANILLA INCENSE 40 CONES IN TIN
101     17091A              LAVENDER INCENSE IN TIN
102     17091J               VANILLA INCENSE IN TIN
112      18007  ESSENTIAL BALM 3.5g TIN IN ENVELOPE
...        ...                                  ...
3540    85232B      SET OF 3 BABUSHKA STACKING TINS
3541    85232D        SET/3 DECOUPAGE STACKING TINS
3620    90037A            TINY CRYSTAL BRACELET RED
3621    90037B          TINY CRYSTAL BRACELET GREEN
3622    90037C           TINY CRYSTAL BRACELET BLUE

[135 rows x 2 columns]